**Loads the sql extension**

In [2]:
%load_ext sql

**Creating connection to postgres database 'dvdrental'**

In [3]:
%sql postgresql://postgres:786420@localhost/dvdrental

### **1. SELECT *(columns to view)*  &  FROM *(table they live in).***

**Viewing every column *(using *)***

In [4]:
%%sql

SELECT * FROM inventory

 * postgresql://postgres:***@localhost/dvdrental
4581 rows affected.

[(1, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (2, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (3, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (4, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (5, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (6, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (7, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (8, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (9, 2, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (10, 2, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (11, 2, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (12, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (13, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (14, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (15, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (16, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (17, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (18, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (19, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (20, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (21, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (22, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (23, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (24, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (25, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (32, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (33, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (34, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (35, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (36, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (37, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (38, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (39, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (40, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (41, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (42, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (43, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (44, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (45, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (46, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (47, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (48, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (49, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (50, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (51, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (52, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (53, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (54, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (55, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (56, 11, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (57, 11, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (58, 11, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (59, 11, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (60, 12, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (61, 12, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (62, 12, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (63, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (64, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (65, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (66, 12, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (67, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (68, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (69, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (70, 13, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (71, 15, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (72, 15, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (73, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (74, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (75, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (76, 15, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (77, 16, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (78, 16, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (79, 16, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (80, 16, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (81, 17, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (82, 17, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (83, 17, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (84, 17, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (85, 17, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (86, 17, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (87, 18, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (88, 18, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (89, 18, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (90, 18, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (91, 18, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (92, 18, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (93, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (94, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (95, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (96, 19, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (97, 19, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (98, 19, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (99, 20, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (100, 20, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (101, 20, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (102, 21, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (103, 21, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (104, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (105, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (106, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (107, 21, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (108, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (109, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (110, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (111, 22, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (112, 22, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (113, 22, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (114, 22, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (115, 23, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (116, 23, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (117, 23, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (118, 23, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (119, 23, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (120, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (121, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (122, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (123, 24, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (124, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (125, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (126, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (127, 25, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (128, 25, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (129, 25, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (130, 26, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (131, 26, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (132, 26, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (133, 26, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (134, 26, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (135, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (136, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (137, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (138, 27, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (139, 28, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (140, 28, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (141, 28, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (142, 29, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (143, 29, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (144, 30, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (145, 30, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (146, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (147, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (148, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (149, 31, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (150, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (151, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (152, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (153, 31, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (154, 32, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (155, 32, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (156, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (157, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (158, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (159, 34, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (160, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (161, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (162, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (163, 35, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (164, 35, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (165, 35, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (166, 35, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (167, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (168, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (169, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (170, 37, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (171, 37, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (172, 37, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (173, 37, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (174, 39, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (175, 39, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (176, 39, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (177, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (178, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (179, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (180, 39, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (181, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (182, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (183, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (184, 40, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (185, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (186, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (187, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (188, 42, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (189, 43, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (190, 43, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (191, 43, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (192, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (193, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (194, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (195, 43, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (196, 44, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (197, 44, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (198, 44, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (199, 44, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (200, 44, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (201, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (202, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (203, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (204, 45, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (205, 45, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (206, 45, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (207, 46, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (208, 46, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (209, 46, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (210, 47, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (211, 47, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (212, 48, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (213, 48, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (214, 48, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (215, 48, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (216, 49, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (217, 49, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (218, 49, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (219, 49, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (220, 49, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (221, 49, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (222, 50, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (223, 50, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (224, 50, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (225, 50, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (226, 50, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (227, 51, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (228, 51, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (229, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (230, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (231, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (232, 51, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (233, 52, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (234, 52, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (235, 53, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (236, 53, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (237, 54, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (238, 54, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (239, 54, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (240, 54, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (241, 54, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (242, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (243, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (244, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (245, 55, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (246, 55, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (247, 55, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (248, 56, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (249, 56, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (250, 56, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (251, 56, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (252, 56, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (253, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (254, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (255, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (256, 57, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (257, 57, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (258, 57, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (259, 57, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (260, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (261, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (262, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (263, 58, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (264, 59, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (265, 59, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (266, 59, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (267, 59, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (268, 59, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (269, 60, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (270, 60, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (271, 60, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (272, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (273, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (274, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (275, 61, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (276, 61, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (277, 61, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (278, 62, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (279, 62, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (280, 63, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (281, 63, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (282, 63, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (283, 63, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (284, 64, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (285, 64, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (286, 64, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (287, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (288, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (289, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (290, 65, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (291, 66, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (292, 66, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (293, 66, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (294, 67, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (295, 67, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (296, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (297, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (298, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (299, 67, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (300, 68, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (301, 68, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (302, 68, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (303, 68, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (304, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (305, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (306, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (307, 69, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (308, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (309, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (310, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (311, 69, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (312, 70, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (313, 70, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (314, 70, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (315, 70, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (316, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (317, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (318, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (319, 71, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (320, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (321, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (322, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (323, 72, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (324, 72, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (325, 72, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (326, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (327, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (328, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (329, 73, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (330, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (331, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (332, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (333, 73, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (334, 74, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (335, 74, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (336, 74, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (337, 74, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (338, 74, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (339, 75, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (340, 75, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (341, 75, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (342, 76, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (343, 76, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (344, 76, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (345, 77, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (346, 77, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (347, 77, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),

**Viewing specific columns *inventory_id* & *last_update***

In [5]:
%%sql

SELECT inventory_id,
        last_update
    FROM inventory

 * postgresql://postgres:***@localhost/dvdrental
4581 rows affected.

[(1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (3, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (4, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (5, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (6, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (7, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (8, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (9, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (10, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (11, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (12, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (13, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (14, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (15, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (16, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (17, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (18, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (19, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (20, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (21, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (22, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (23, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (24, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (25, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (32, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (33, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (34, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (35, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (36, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (37, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (38, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (39, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (40, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (41, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (42, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (43, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (44, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (45, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (46, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (47, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (48, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (49, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (50, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (51, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (52, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (53, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (54, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (55, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (56, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (57, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (58, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (59, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (60, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (61, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (62, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (63, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (64, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (65, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (66, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (67, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (68, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (69, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (70, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (71, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (72, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (73, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (74, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (75, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (76, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (77, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (78, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (79, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (80, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (81, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (82, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (83, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (84, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (85, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (86, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (87, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (88, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (89, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (90, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (91, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (92, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (93, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (94, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (95, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (96, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (97, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (98, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (99, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (100, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (101, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (102, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (103, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (104, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (105, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (106, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (107, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (108, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (109, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (110, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (111, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (112, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (113, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (114, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (115, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (116, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (117, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (118, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (119, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (120, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (121, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (122, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (123, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (124, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (125, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (126, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (127, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (128, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (129, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (130, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (131, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (132, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (133, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (134, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (135, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (136, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (137, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (138, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (139, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (140, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (141, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (142, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (143, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (144, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (145, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (146, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (147, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (148, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (149, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (150, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (151, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (152, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (153, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (154, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (155, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (156, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (157, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (158, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (159, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (160, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (161, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (162, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (163, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (164, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (165, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (166, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (167, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (168, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (169, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (170, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (171, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (172, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (173, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (174, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (175, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (176, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (177, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (178, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (179, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (180, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (181, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (182, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (183, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (184, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (185, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (186, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (187, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (188, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (189, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (190, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (191, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (192, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (193, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (194, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (195, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (196, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (197, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (198, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (199, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (200, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (201, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (202, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (203, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (204, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (205, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (206, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (207, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (208, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (209, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (210, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (211, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (212, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (213, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (214, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (215, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (216, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (217, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (218, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (219, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (220, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (221, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (222, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (223, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (224, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (225, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (226, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (227, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (228, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (229, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (230, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (231, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (232, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (233, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (234, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (235, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (236, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (237, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (238, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (239, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (240, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (241, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (242, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (243, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (244, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (245, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (246, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (247, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (248, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (249, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (250, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (251, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (252, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (253, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (254, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (255, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (256, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (257, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (258, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (259, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (260, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (261, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (262, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (263, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (264, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (265, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (266, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (267, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (268, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (269, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (270, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (271, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (272, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (273, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (274, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (275, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (276, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (277, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (278, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (279, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (280, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (281, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (282, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (283, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (284, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (285, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (286, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (287, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (288, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (289, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (290, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (291, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (292, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (293, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (294, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (295, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (296, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (297, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (298, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (299, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (300, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (301, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (302, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (303, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (304, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (305, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (306, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (307, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (308, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (309, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (310, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (311, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (312, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (313, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (314, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (315, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (316, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (317, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (318, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (319, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (320, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (321, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (322, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (323, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (324, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (325, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (326, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (327, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (328, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (329, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (330, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (331, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (332, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (333, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (334, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (335, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (336, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (337, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (338, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (339, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (340, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (341, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (342, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (343, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (344, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (345, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (346, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (347, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (348, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (349, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (350, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (351, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (352, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (353, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (354, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (355, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (356, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (357, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (358, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (359, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (360, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (361, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (362, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (363, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (364, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (365, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (366, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (367, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (368, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (369, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (370, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (371, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (372, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (373, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (374, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (375, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (376, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (377, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (378, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (379, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (380, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (381, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (382, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (383, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (384, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (385, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (386, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (387, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (388, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (389, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (390, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (391, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (392, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (393, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (394, datetime.datetime(2006, 2, 15, 10, 9, 17)),

> ***If column name consists of SPACES then write it in ""***

**Renaming columns**

In [6]:
%%sql

SELECT inventory_id AS "Inventory Id",
        last_update AS "Last Update"
    FROM inventory

 * postgresql://postgres:***@localhost/dvdrental
4581 rows affected.

[(1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (3, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (4, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (5, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (6, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (7, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (8, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (9, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (10, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (11, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (12, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (13, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (14, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (15, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (16, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (17, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (18, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (19, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (20, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (21, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (22, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (23, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (24, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (25, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (32, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (33, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (34, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (35, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (36, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (37, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (38, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (39, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (40, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (41, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (42, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (43, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (44, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (45, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (46, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (47, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (48, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (49, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (50, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (51, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (52, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (53, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (54, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (55, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (56, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (57, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (58, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (59, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (60, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (61, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (62, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (63, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (64, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (65, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (66, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (67, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (68, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (69, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (70, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (71, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (72, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (73, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (74, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (75, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (76, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (77, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (78, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (79, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (80, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (81, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (82, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (83, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (84, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (85, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (86, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (87, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (88, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (89, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (90, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (91, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (92, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (93, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (94, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (95, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (96, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (97, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (98, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (99, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (100, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (101, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (102, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (103, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (104, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (105, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (106, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (107, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (108, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (109, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (110, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (111, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (112, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (113, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (114, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (115, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (116, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (117, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (118, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (119, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (120, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (121, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (122, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (123, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (124, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (125, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (126, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (127, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (128, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (129, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (130, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (131, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (132, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (133, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (134, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (135, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (136, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (137, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (138, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (139, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (140, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (141, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (142, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (143, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (144, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (145, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (146, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (147, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (148, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (149, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (150, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (151, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (152, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (153, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (154, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (155, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (156, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (157, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (158, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (159, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (160, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (161, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (162, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (163, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (164, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (165, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (166, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (167, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (168, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (169, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (170, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (171, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (172, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (173, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (174, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (175, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (176, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (177, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (178, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (179, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (180, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (181, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (182, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (183, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (184, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (185, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (186, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (187, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (188, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (189, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (190, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (191, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (192, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (193, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (194, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (195, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (196, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (197, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (198, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (199, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (200, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (201, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (202, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (203, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (204, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (205, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (206, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (207, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (208, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (209, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (210, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (211, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (212, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (213, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (214, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (215, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (216, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (217, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (218, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (219, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (220, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (221, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (222, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (223, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (224, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (225, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (226, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (227, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (228, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (229, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (230, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (231, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (232, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (233, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (234, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (235, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (236, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (237, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (238, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (239, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (240, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (241, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (242, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (243, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (244, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (245, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (246, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (247, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (248, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (249, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (250, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (251, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (252, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (253, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (254, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (255, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (256, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (257, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (258, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (259, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (260, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (261, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (262, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (263, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (264, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (265, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (266, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (267, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (268, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (269, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (270, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (271, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (272, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (273, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (274, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (275, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (276, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (277, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (278, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (279, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (280, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (281, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (282, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (283, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (284, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (285, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (286, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (287, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (288, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (289, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (290, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (291, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (292, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (293, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (294, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (295, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (296, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (297, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (298, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (299, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (300, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (301, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (302, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (303, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (304, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (305, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (306, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (307, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (308, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (309, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (310, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (311, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (312, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (313, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (314, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (315, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (316, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (317, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (318, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (319, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (320, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (321, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (322, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (323, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (324, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (325, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (326, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (327, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (328, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (329, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (330, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (331, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (332, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (333, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (334, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (335, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (336, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (337, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (338, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (339, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (340, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (341, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (342, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (343, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (344, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (345, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (346, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (347, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (348, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (349, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (350, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (351, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (352, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (353, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (354, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (355, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (356, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (357, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (358, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (359, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (360, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (361, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (362, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (363, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (364, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (365, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (366, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (367, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (368, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (369, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (370, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (371, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (372, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (373, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (374, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (375, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (376, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (377, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (378, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (379, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (380, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (381, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (382, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (383, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (384, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (385, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (386, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (387, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (388, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (389, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (390, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (391, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (392, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (393, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (394, datetime.datetime(2006, 2, 15, 10, 9, 17)),

### 2. LIMIT

**Shows top n rows**

In [7]:
%%sql

SELECT inventory_id AS "Inventory Id",
        last_update AS "Last Update"
    FROM inventory
LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (3, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (4, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (5, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (6, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (7, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (8, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (9, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (10, datetime.datetime(2006, 2, 15, 10, 9, 17))]

### 3. WHERE

**Viewing only those rows which satisfy *WHERE* condition**

In [8]:
%%sql

SELECT *
  FROM inventory 
WHERE film_id = 1

 * postgresql://postgres:***@localhost/dvdrental
8 rows affected.

[(1, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (2, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (3, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (4, 1, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (5, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (6, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (7, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (8, 1, 2, datetime.datetime(2006, 2, 15, 10, 9, 17))]

### 4. Comparison Operators
- **=**
- **<> *or* !=**
- **>**
- **<**
- **>=**
- **<=**

> **rating='R'** *R shoul be in single/double quotes *

**Conditional operators on non-numerical column**
- **var \> 'J'** yields rows where var starts with 'J' or later

In [9]:
%%sql

SELECT * FROM film WHERE rating='R' LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5"),
 (213, 'Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention', 2006, 1, 4, Decimal('0.99'), 104, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'compos':8 'convent':20 'date':1 'dentist':16 'discov':14 'moos':11 'must':13 'mysql':19 'saga':5 'speed':2 'touch':4"),
 (17, 'Alone Trip', 'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House', 2006, 1, 3, Decimal('0.99'), 82, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'abandon':22 'alon':1 'boat':19 'charact':7 'compos':11 'dog':14 'fast':5 'fast-pac':4 'fun':23 'hous':24 'must':16 'outgun':17 'pace':6 'studi':8 'trip':2"),
 (20, 'Amelie Hellfighters', 'A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon', 2006, 1, 4, Decimal('4.99'), 79, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'ameli':1 'baloon':19 'bore':4 'conquer':14 'drama':5 'hellfight':2 'must':13 'squirrel':11 'student':16 'woman':8"),
 (21, 'American Circus', 'A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank', 2006, 1, 3, Decimal('4.99'), 129, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'administr':17 'american':1 'astronaut':11 'circus':2 'databas':16 'drama':5 'face':14 'girl':8 'insight':4 'must':13 'shark':20 'tank':21"),
 (23, 'Anaconda Confessions', 'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia', 2006, 1, 3, Decimal('0.99'), 92, Decimal('9.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'anaconda':1 'australia':18 'confess':2 'dentist':8,11 'display':5 'fight':14 'girl':16 'lacklustur':4 'must':13"),
 (24, 'Analyze Hoosiers', 'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert', 2006, 1, 6, Decimal('2.99'), 181, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'analyz':1 'chef':12 'desert':21 'display':5 'explor':8 'feminist':17 'hoosier':2 'must':14 'overcom':15 'pastri':11 'sahara':20 'thought':4"),
 (30, 'Anything Savannah', 'A Epic Story of a Pastry Chef And a Woman who must Chase a Feminist in An Abandoned Fun House', 2006, 1, 4, Decimal('2.99'), 82, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'abandon':20 'anyth':1 'chase':15 'chef':9 'epic':4 'feminist':17 'fun':21 'hous':22 'must':14 'pastri':8 'savannah':2 'stori':5 'woman':12"),
 (32, 'Apocalypse Flamingos', 'A Astounding Story of a Dog And a Squirrel who must Defeat a Woman in An Abandoned Amusement Park', 2006, 1, 6, Decimal('4.99'), 119, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'abandon':19 'amus':20 'apocalyps':1 'astound':4 'defeat':14 'dog':8 'flamingo':2 'must':13 'park':21 'squirrel':11 'stori':5 'woman':16")]

### 5. Arithmetic Operators*(can be performed only across the columns on values in a given row)*
- **+**
- **-**
- **\***
- **/**

In [10]:
%%sql

SELECT * FROM payment LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577)),
 (17504, 341, 1, 1778, Decimal('1.99'), datetime.datetime(2007, 2, 16, 17, 23, 14, 996577)),
 (17505, 341, 1, 1849, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 41, 45, 996577)),
 (17506, 341, 2, 2829, Decimal('2.99'), datetime.datetime(2007, 2, 19, 19, 39, 56, 996577)),
 (17507, 341, 2, 3130, Decimal('7.99'), datetime.datetime(2007, 2, 20, 17, 31, 48, 996577)),
 (17508, 341, 1, 3382, Decimal('5.99'), datetime.datetime(2007, 2, 21, 12, 33, 49, 996577)),
 (17509, 342, 2, 2190, Decimal('5.99'), datetime.datetime(2007, 2, 17, 23, 58, 17, 996577)),
 (17510, 342, 1, 2914, Decimal('5.99'), datetime.datetime(2007, 2, 20, 2, 11, 44, 996577)),
 (17511, 342, 1, 3081, Decimal('2.99'), datetime.datetime(2007, 2, 20, 13, 57, 39, 996577)),
 (17512, 343, 2, 1547, Decimal('4.99'), datetime.datetime(2007, 2, 16, 0, 10, 50, 996577))]

**Arithmetically Derived Column**

In [11]:
%%sql

SELECT customer_id,
    staff_id,
    rental_id,
    staff_id * rental_id AS non_sense
FROM payment
LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(341, 2, 1520, 3040),
 (341, 1, 1778, 1778),
 (341, 1, 1849, 1849),
 (341, 2, 2829, 5658),
 (341, 2, 3130, 6260),
 (341, 1, 3382, 3382),
 (342, 2, 2190, 4380),
 (342, 1, 2914, 2914),
 (342, 1, 3081, 3081),
 (343, 2, 1547, 3094)]

### 6. Logical Operators
- **LIKE** *(allows to match on similar values rather than exact ones)*
- **IN** *(allows to specify a list of values that to be included in the results)*
- **ILIKE** *(same as LIKE but the matching string isn't case-senstive)*
- **BETWEEN**
- **IS NULL**
- **AND**
- **OR**
- **NOT**

**LIKE**
- *Column name in the WHERE condition (eg- "rating" below) can't be written in single quotes.*

- *Matching String alongwith wildcard(%) (eg- 'PG-%' below) can't be written in double quotes.*

In [12]:
%%sql

SELECT * FROM film WHERE "rating"::text LIKE 'PG-%' LIMIT 5

 * postgresql://postgres:***@localhost/dvdrental
5 rows affected.

[(98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5"),
 (7, 'Airplane Sierra', 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat', 2006, 1, 6, Decimal('4.99'), 62, Decimal('28.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'airplan':1 'boat':20 'butler':11,16 'discov':14 'hunter':8 'jet':19 'must':13 'saga':5 'sierra':2 'touch':4"),
 (9, 'Alabama Devil', 'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat', 2006, 1, 3, Decimal('2.99'), 114, Decimal('21.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'administr':9 'alabama':1 'boat':23 'databas':8 'devil':2 'jet':22 'mad':12,18 'must':15 'outgun':16 'panorama':5 'scientist':13,19 'thought':4"),
 (18, 'Alter Victory', 'A Thoughtful Drama of a Composer And a Feminist who must Meet a Secret Agent in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 57, Decimal('27.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'agent':17 'alter':1 'canadian':20 'compos':8 'drama':5 'feminist':11 'meet':14 'must':13 'rocki':21 'secret':16 'thought':4 'victori':2"),
 (28, 'Anthem Luke', 'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park', 2006, 1, 5, Decimal('4.99'), 91, Decimal('16.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'abandon':19 'amus':20 'anthem':1 'dog':16 'luke':2 'must':13 'outrac':14 'panorama':5 'park':21 'touch':4 'waitress':8 'woman':11")]

In [13]:
%%sql

SELECT * FROM film WHERE "rating"::varchar LIKE 'PG%' LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5"),
 (1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17"),
 (6, 'Agent Truman', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 2006, 1, 3, Decimal('2.99'), 169, Decimal('17.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17"),
 (7, 'Airplane Sierra', 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat', 2006, 1, 6, Decimal('4.99'), 62, Decimal('28.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'airplan':1 'boat':20 'butler':11,16 'discov':14 'hunter':8 'jet':19 'must':13 'saga':5 'sierra':2 'touch':4"),
 (9, 'Alabama Devil', 'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat', 2006, 1, 3, Decimal('2.99'), 114, Decimal('21.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'administr':9 'alabama':1 'boat':23 'databas':8 'devil':2 'jet':22 'mad':12,18 'must':15 'outgun':16 'panorama':5 'scientist':13,19 'thought':4"),
 (12, 'Alaska Phantom', 'A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia', 2006, 1, 6, Decimal('0.99'), 136, Decimal('22.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'alaska':1 'australia':19 'boy':17 'chef':12 'fanci':4 'hunter':8 'must':14 'pastri':11 'phantom':2 'saga':5 'vanquish':15"),
 (13, 'Ali Forever', 'A Action-Packed Drama of a Dentist And a Crocodile who must Battle a Feminist in The Canadian Rockies', 2006, 1, 4, Decimal('4.99'), 150, Decimal('21.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'action':5 'action-pack':4 'ali':1 'battl':16 'canadian':21 'crocodil':13 'dentist':10 'drama':7 'feminist':18 'forev':2 'must':15 'pack':6 'rocki':22"),
 (18, 'Alter Victory', 'A Thoughtful Drama of a Composer And a Feminist who must Meet a Secret Agent in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 57, Decimal('27.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'agent':17 'alter':1 'canadian':20 'compos':8 'drama':5 'feminist':11 'meet':14 'must':13 'rocki':21 'secret':16 'thought':4 'victori':2"),
 (19, 'Amadeus Holy', 'A Emotional Display of a Pioneer And a Technical Writer who must Battle a Man in A Baloon', 2006, 1, 6, Decimal('0.99'), 113, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'amadeus':1 'baloon':20 'battl':15 'display':5 'emot':4 'holi':2 'man':17 'must':14 'pioneer':8 'technic':11 'writer':12"),
 (28, 'Anthem Luke', 'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park', 2006, 1, 5, Decimal('4.99'), 91, Decimal('16.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'abandon':19 'amus':20 'anthem':1 'dog':16 'luke':2 'must':13 'outrac':14 'panorama':5 'park':21 'touch':4 'waitress':8 'woman':11")]

**IN** *(numerical list of values to be included in the results)*

In [14]:
%%sql

SELECT *
FROM inventory
WHERE film_id in (4,6,3)

 * postgresql://postgres:***@localhost/dvdrental
17 rows affected.

[(12, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (13, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (14, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (15, 3, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (16, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (17, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (18, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (19, 4, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (20, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (21, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (22, 4, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17))]

**IN** *(non-numerical list of values to be included in the results)*

In [15]:
%%sql

SELECT *
FROM film
WHERE rating IN ('NC-17', 'R')
LIMIT 25

 * postgresql://postgres:***@localhost/dvdrental
25 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5"),
 (3, 'Adaptation Holes', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14"),
 (10, 'Aladdin Calendar', 'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China', 2006, 1, 6, Decimal('4.99'), 63, Decimal('24.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'action':5 'action-pack':4 'aladdin':1 'ancient':20 'calendar':2 'china':21 'feminist':18 'lumberjack':13 'man':10 'must':15 'pack':6 'reach':16 'tale':7"),
 (213, 'Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention', 2006, 1, 4, Decimal('0.99'), 104, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'compos':8 'convent':20 'date':1 'dentist':16 'discov':14 'moos':11 'must':13 'mysql':19 'saga':5 'speed':2 'touch':4"),
 (14, 'Alice Fantasia', 'A Emotional Drama of a A Shark And a Database Administrator who must Vanquish a Pioneer in Soviet Georgia', 2006, 1, 6, Decimal('0.99'), 94, Decimal('23.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'administr':13 'alic':1 'databas':12 'drama':5 'emot':4 'fantasia':2 'georgia':21 'must':15 'pioneer':18 'shark':9 'soviet':20 'vanquish':16"),
 (15, 'Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention', 2006, 1, 5, Decimal('2.99'), 46, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'alien':1 'battl':15 'brilliant':4 'cat':8 'center':2 'convent':21 'drama':5 'feminist':17 'mad':11 'must':14 'mysql':20 'scientist':12"),
 (16, 'Alley Evolution', 'A Fast-Paced Drama of a Robot And a Composer who must Battle a Astronaut in New Orleans', 2006, 1, 6, Decimal('2.99'), 180, Decimal('23.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'alley':1 'astronaut':18 'battl':16 'compos':13 'drama':7 'evolut':2 'fast':5 'fast-pac':4 'must':15 'new':20 'orlean':21 'pace':6 'robot':10"),
 (17, 'Alone Trip', 'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House', 2006, 1, 3, Decimal('0.99'), 82, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'abandon':22 'alon':1 'boat':19 'charact':7 'compos':11 'dog':14 'fast':5 'fast-pac':4 'fun':23 'hous':24 'must':16 'outgun':17 'pace':6 'studi':8 'trip':2"),
 (20, 'Amelie Hellfighters', 'A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon', 2006, 1, 4, Decimal('4.99'), 79, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'ameli':1 'baloon':19 'bore':4 'conquer':14 'drama':5 'hellfight':2 'must':13 'squirrel':11 'student':16 'woman':8"),
 (21, 'American Circus', 'A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank', 2006, 1, 3, Decimal('4.99'), 129, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'administr':17 'american':1 'astronaut':11 'circus':2 'databas':16 'drama':5 'face':14 'girl':8 'insight':4 'must':13 'shark':20 'tank':21"),
 (23, 'Anaconda Confessions', 'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia', 2006, 1, 3, Decimal('0.99'), 92, Decimal('9.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'anaconda':1 'australia':18 'confess':2 'dentist':8,11 'display':5 'fight':14 'girl':16 'lacklustur':4 'must':13"),
 (24, 'Analyze Hoosiers', 'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert', 2006, 1, 6, Decimal('2.99'), 181, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'analyz':1 'chef':12 'desert':21 'display':5 'explor':8 'feminist':17 'hoosier':2 'must':14 'overcom':15 'pastri':11 'sahara':20 'thought':4"),
 (27, 'Anonymous Human', 'A Amazing Reflection of a Database Administrator And a Astronaut who must Outrace a Database Administrator in A Shark Tank', 2006, 1, 7, Decimal('0.99'), 179, Decimal('12.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'administr':9,18 'amaz':4 'anonym':1 'astronaut':12 'databas':8,17 'human':2 'must':14 'outrac':15 'reflect':5 'shark':21 'tank':22"),
 (29, 'Antitrust Tomatoes', 'A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India', 2006, 1, 5, Decimal('2.99'), 168, Decimal('11.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'administr':17 'ancient':19 'antitrust':1 'databas':16 'fate':4 'feminist':11 'india':20 'must':13 'succumb':14 'tomato':2 'woman':8 'yarn':5"),
 (30, 'Anything Savannah', 'A Epic Story of a Pastry Chef And a Woman who must Chase a Feminist in An Abandoned Fun House', 2006, 1, 4, Decimal('2.99'), 82, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'abandon':20 'anyth':1 'chase':15 'chef':9 'epic':4 'feminist':17 'fun':21 'hous':22 'must':14 'pastri':8 'savannah':2 'stori':5 'woman':12"),
 (31, 'Apache Divine', 'A Awe-Inspiring Reflection of a Pastry Chef And a Teacher who must Overcome a Sumo Wrestler in A U-Boat', 2006, 1, 5, Decimal('4.99'), 92, Decimal('16.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'apach':1 'awe':5 'awe-inspir':4 'boat':25 'chef':11 'divin':2 'inspir':6 'must':16 'overcom':17 'pastri':10 'reflect':7 'sumo':19 'teacher':14 'u':24 'u-boat':23 'wrestler':20"),
 (32, 'Apocalypse Flamingos', 'A Astounding Story of a Dog And a Squirrel who must Defeat a Woman in An Abandoned Amusement Park', 2006, 1, 6, Decimal('4.99'), 119, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'abandon':19 'amus':20 'apocalyps':1 'astound':4 'defeat':14 'dog':8 'flamingo':2 'must':13 'park':21 'squirrel':11 'stori':5 'woman':16"),
 (34, 'Arabia Dogma', 'A Touching Epistle of a Madman And a Mad Cow who must Defeat a Student in Nigeria', 2006, 1, 6, Decimal('0.99'), 62, Decimal('29.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'arabia':1 'cow':12 'defeat':15 'dogma':2 'epistl':5 'mad':11 'madman':8 'must':14 'nigeria':19 'student':17 'touch':4"),
 (38, 'Ark Ridgemont', 'A Beautiful Yarn of a Pioneer And a Monkey who must Pursue a Explorer in The Sahara Desert', 2006, 1, 6, Decimal('0.99'), 68, Decimal('25.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'ark':1 'beauti':4 'desert':20 'explor':16 'monkey':11 'must':13 'pioneer':8 'pursu':14 'ridgemont':2 'sahara':19 'yarn':5"),
 (40, 'Army Flintstones', 'A Boring Saga of a Database Administrator And a Womanizer who must Battle a Waitress in Nigeria', 2006, 1, 4, Decimal('0.99'), 148, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'administr':9 'armi':1 'battl':15 'bore':4 'databas':8 'flintston':2 'must':14 'nigeria':19 'saga':5 'waitress':17 'woman':12"),
 (42, 'Artist Coldblooded', 'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California', 2006, 1, 5, Decimal('2.99'), 170, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'artist':1 'california':18 'challeng':14 'coldblood':2 'moos':11 'must':13 'reflect':5 'robot':8 'stun':4 'woman':16"),
 (47, 'Baby Hall', 'A Boring Character Study of a A Shark And a Girl who must Outrace a Feminist in An Abandoned Mine Shaft', 2006, 1, 5, Decimal('4.99'), 153, Decimal('23.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'abandon':21 'babi':1 'bore':4 'charact':5 'feminist':18 'girl':13 'hall':2 'mine':22 'must':15 'outrac':16 'shaft':23 'shark':10 'studi':6"),
 (49, 'Badman Dawn', 'A Emotional Panorama of a Pioneer And a Composer who must Escape a Mad Scientist in A Jet Boat', 2006, 1, 6, Decimal('2.99'), 162, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'badman':1 'boat':21 'compos':11 'dawn':2 'emot':4 'escap':14 'jet':20 'mad':16 'must':13 'panorama':5 'pioneer':8 'scientist':17")]

**BETWEEN** *(used with AND, includes range bounds, eg- 5 & 8 are included below)*

In [16]:
%%sql

SELECT *
FROM inventory
WHERE film_id BETWEEN 5 AND 10

 * postgresql://postgres:***@localhost/dvdrental
30 rows affected.

[(23, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (24, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (25, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (32, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (33, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (34, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (35, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (36, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (37, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (38, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (39, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (40, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (41, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (42, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (43, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (44, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (45, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (46, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (47, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (48, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (49, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (50, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (51, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (52, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17))]

***same result as above***

In [17]:
%%sql

SELECT * 
FROM inventory 
WHERE film_id >=5 AND film_id <=10

 * postgresql://postgres:***@localhost/dvdrental
30 rows affected.

[(23, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (24, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (25, 5, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (26, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (27, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (28, 6, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (29, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (30, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (31, 6, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (32, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (33, 7, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (34, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (35, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (36, 7, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (37, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (38, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (39, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (40, 8, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (41, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (42, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (43, 9, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (44, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (45, 9, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (46, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (47, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (48, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (49, 10, 1, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (50, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (51, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17)),
 (52, 10, 2, datetime.datetime(2006, 2, 15, 10, 9, 17))]

**NULL** *(used along with IS)*

In [18]:
%%sql

SELECT *
FROM address 
WHERE address2 IS NULL

 * postgresql://postgres:***@localhost/dvdrental
4 rows affected.

[(1, '47 MySakila Drive', None, 'Alberta', 300, '', '', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (2, '28 MySQL Boulevard', None, 'QLD', 576, '', '', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (3, '23 Workhaven Lane', None, 'Alberta', 300, '', '14033335568', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (4, '1411 Lillydale Drive', None, 'QLD', 576, '', '6172235589', datetime.datetime(2006, 2, 15, 9, 45, 30))]

**AND** *(used w/ additional AND statements or any other comparison operator as many time we want)*

In [19]:
%%sql

SELECT *
FROM film
WHERE replacement_cost >= 10 AND replacement_cost <= 14
  AND  rating::varchar LIKE 'NC%'
LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(15, 'Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention', 2006, 1, 5, Decimal('2.99'), 46, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'alien':1 'battl':15 'brilliant':4 'cat':8 'center':2 'convent':21 'drama':5 'feminist':17 'mad':11 'must':14 'mysql':20 'scientist':12"),
 (27, 'Anonymous Human', 'A Amazing Reflection of a Database Administrator And a Astronaut who must Outrace a Database Administrator in A Shark Tank', 2006, 1, 7, Decimal('0.99'), 179, Decimal('12.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'administr':9,18 'amaz':4 'anonym':1 'astronaut':12 'databas':8,17 'human':2 'must':14 'outrac':15 'reflect':5 'shark':21 'tank':22"),
 (29, 'Antitrust Tomatoes', 'A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India', 2006, 1, 5, Decimal('2.99'), 168, Decimal('11.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'administr':17 'ancient':19 'antitrust':1 'databas':16 'fate':4 'feminist':11 'india':20 'must':13 'succumb':14 'tomato':2 'woman':8 'yarn':5"),
 (42, 'Artist Coldblooded', 'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California', 2006, 1, 5, Decimal('2.99'), 170, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'artist':1 'california':18 'challeng':14 'coldblood':2 'moos':11 'must':13 'reflect':5 'robot':8 'stun':4 'woman':16"),
 (51, 'Balloon Homeward', 'A Insightful Panorama of a Forensic Psychologist And a Mad Cow who must Build a Mad Scientist in The First Manned Space Station', 2006, 1, 5, Decimal('2.99'), 75, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'balloon':1 'build':16 'cow':13 'first':22 'forens':8 'homeward':2 'insight':4 'mad':12,18 'man':23 'must':15 'panorama':5 'psychologist':9 'scientist':19 'space':24 'station':25"),
 (167, 'Coma Head', 'A Awe-Inspiring Drama of a Boy And a Frisbee who must Escape a Pastry Chef in California', 2006, 1, 6, Decimal('4.99'), 109, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'awe':5 'awe-inspir':4 'boy':10 'california':21 'chef':19 'coma':1 'drama':7 'escap':16 'frisbe':13 'head':2 'inspir':6 'must':15 'pastri':18"),
 (172, 'Coneheads Smoochy', 'A Touching Story of a Womanizer And a Composer who must Pursue a Husband in Nigeria', 2006, 1, 7, Decimal('4.99'), 112, Decimal('12.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'compos':11 'conehead':1 'husband':16 'must':13 'nigeria':18 'pursu':14 'smoochi':2 'stori':5 'touch':4 'woman':8"),
 (174, 'Confidential Interview', 'A Stunning Reflection of a Cat And a Woman who must Find a Astronaut in Ancient Japan', 2006, 1, 6, Decimal('4.99'), 180, Decimal('13.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'ancient':18 'astronaut':16 'cat':8 'confidenti':1 'find':14 'interview':2 'japan':19 'must':13 'reflect':5 'stun':4 'woman':11"),
 (187, 'Cranes Reservoir', 'A Fanciful Documentary of a Teacher And a Dog who must Outgun a Forensic Psychologist in A Baloon Factory', 2006, 1, 5, Decimal('2.99'), 57, Decimal('12.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'baloon':20 'crane':1 'documentari':5 'dog':11 'factori':21 'fanci':4 'forens':16 'must':13 'outgun':14 'psychologist':17 'reservoir':2 'teacher':8"),
 (210, 'Darko Dorado', 'A Stunning Reflection of a Frisbee And a Husband who must Redeem a Dog in New Orleans', 2006, 1, 3, Decimal('4.99'), 130, Decimal('13.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'darko':1 'dog':16 'dorado':2 'frisbe':8 'husband':11 'must':13 'new':18 'orlean':19 'redeem':14 'reflect':5 'stun':4")]

**OR**

In [20]:
%%sql

SELECT DISTINCT(rating) 
FROM film

 * postgresql://postgres:***@localhost/dvdrental
5 rows affected.

[('R',), ('NC-17',), ('G',), ('PG',), ('PG-13',)]

***(rating::varchar LIKE 'NC%' OR rating::varchar LIKE 'PG')***                                                                     
is treated like one seperate statement coz it's in parenthrsis.

In [21]:
%%sql

SELECT *
FROM film
WHERE replacement_cost >= 10 AND replacement_cost <= 14
  AND  (rating::varchar LIKE 'NC%' OR rating::varchar LIKE 'PG')
LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(15, 'Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention', 2006, 1, 5, Decimal('2.99'), 46, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'alien':1 'battl':15 'brilliant':4 'cat':8 'center':2 'convent':21 'drama':5 'feminist':17 'mad':11 'must':14 'mysql':20 'scientist':12"),
 (27, 'Anonymous Human', 'A Amazing Reflection of a Database Administrator And a Astronaut who must Outrace a Database Administrator in A Shark Tank', 2006, 1, 7, Decimal('0.99'), 179, Decimal('12.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'administr':9,18 'amaz':4 'anonym':1 'astronaut':12 'databas':8,17 'human':2 'must':14 'outrac':15 'reflect':5 'shark':21 'tank':22"),
 (29, 'Antitrust Tomatoes', 'A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India', 2006, 1, 5, Decimal('2.99'), 168, Decimal('11.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'administr':17 'ancient':19 'antitrust':1 'databas':16 'fate':4 'feminist':11 'india':20 'must':13 'succumb':14 'tomato':2 'woman':8 'yarn':5"),
 (42, 'Artist Coldblooded', 'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California', 2006, 1, 5, Decimal('2.99'), 170, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'artist':1 'california':18 'challeng':14 'coldblood':2 'moos':11 'must':13 'reflect':5 'robot':8 'stun':4 'woman':16"),
 (51, 'Balloon Homeward', 'A Insightful Panorama of a Forensic Psychologist And a Mad Cow who must Build a Mad Scientist in The First Manned Space Station', 2006, 1, 5, Decimal('2.99'), 75, Decimal('10.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'balloon':1 'build':16 'cow':13 'first':22 'forens':8 'homeward':2 'insight':4 'mad':12,18 'man':23 'must':15 'panorama':5 'psychologist':9 'scientist':19 'space':24 'station':25"),
 (72, 'Bill Others', 'A Stunning Saga of a Mad Scientist And a Forensic Psychologist who must Challenge a Squirrel in A MySQL Convention', 2006, 1, 6, Decimal('2.99'), 93, Decimal('12.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'bill':1 'challeng':16 'convent':22 'forens':12 'mad':8 'must':15 'mysql':21 'other':2 'psychologist':13 'saga':5 'scientist':9 'squirrel':18 'stun':4"),
 (78, 'Blackout Private', 'A Intrepid Yarn of a Pastry Chef And a Mad Scientist who must Challenge a Secret Agent in Ancient Japan', 2006, 1, 7, Decimal('2.99'), 85, Decimal('12.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'agent':19 'ancient':21 'blackout':1 'challeng':16 'chef':9 'intrepid':4 'japan':22 'mad':12 'must':15 'pastri':8 'privat':2 'scientist':13 'secret':18 'yarn':5"),
 (84, 'Boiled Dares', 'A Awe-Inspiring Story of a Waitress And a Dog who must Discover a Dentist in Ancient Japan', 2006, 1, 7, Decimal('4.99'), 102, Decimal('13.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'ancient':20 'awe':5 'awe-inspir':4 'boil':1 'dare':2 'dentist':18 'discov':16 'dog':13 'inspir':6 'japan':21 'must':15 'stori':7 'waitress':10"),
 (122, 'Carrie Bunch', 'A Amazing Epistle of a Student And a Astronaut who must Discover a Frisbee in The Canadian Rockies', 2006, 1, 7, Decimal('0.99'), 114, Decimal('11.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'amaz':4 'astronaut':11 'bunch':2 'canadian':19 'carri':1 'discov':14 'epistl':5 'frisbe':16 'must':13 'rocki':20 'student':8"),
 (131, 'Center Dinosaur', 'A Beautiful Character Study of a Sumo Wrestler And a Dentist who must Find a Dog in California', 2006, 1, 5, Decimal('4.99'), 152, Decimal('12.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'beauti':4 'california':20 'center':1 'charact':5 'dentist':13 'dinosaur':2 'dog':18 'find':16 'must':15 'studi':6 'sumo':9 'wrestler':10")]

**NOT** can be used like ^
- **NOT** BETWEEN
- **NOT** > or **NOT** <
- **NOT** LIKE
- **NOT** NULL

### 7. ORDER BY

In [22]:
%%sql

SELECT * FROM film WHERE rating = 'R' ORDER BY title

 * postgresql://postgres:***@localhost/dvdrental
195 rows affected.

[(8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5"),
 (17, 'Alone Trip', 'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House', 2006, 1, 3, Decimal('0.99'), 82, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'abandon':22 'alon':1 'boat':19 'charact':7 'compos':11 'dog':14 'fast':5 'fast-pac':4 'fun':23 'hous':24 'must':16 'outgun':17 'pace':6 'studi':8 'trip':2"),
 (20, 'Amelie Hellfighters', 'A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon', 2006, 1, 4, Decimal('4.99'), 79, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'ameli':1 'baloon':19 'bore':4 'conquer':14 'drama':5 'hellfight':2 'must':13 'squirrel':11 'student':16 'woman':8"),
 (21, 'American Circus', 'A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank', 2006, 1, 3, Decimal('4.99'), 129, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'administr':17 'american':1 'astronaut':11 'circus':2 'databas':16 'drama':5 'face':14 'girl':8 'insight':4 'must':13 'shark':20 'tank':21"),
 (23, 'Anaconda Confessions', 'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia', 2006, 1, 3, Decimal('0.99'), 92, Decimal('9.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'anaconda':1 'australia':18 'confess':2 'dentist':8,11 'display':5 'fight':14 'girl':16 'lacklustur':4 'must':13"),
 (24, 'Analyze Hoosiers', 'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert', 2006, 1, 6, Decimal('2.99'), 181, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'analyz':1 'chef':12 'desert':21 'display':5 'explor':8 'feminist':17 'hoosier':2 'must':14 'overcom':15 'pastri':11 'sahara':20 'thought':4"),
 (30, 'Anything Savannah', 'A Epic Story of a Pastry Chef And a Woman who must Chase a Feminist in An Abandoned Fun House', 2006, 1, 4, Decimal('2.99'), 82, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'abandon':20 'anyth':1 'chase':15 'chef':9 'epic':4 'feminist':17 'fun':21 'hous':22 'must':14 'pastri':8 'savannah':2 'stori':5 'woman':12"),
 (32, 'Apocalypse Flamingos', 'A Astounding Story of a Dog And a Squirrel who must Defeat a Woman in An Abandoned Amusement Park', 2006, 1, 6, Decimal('4.99'), 119, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'abandon':19 'amus':20 'apocalyps':1 'astound':4 'defeat':14 'dog':8 'flamingo':2 'must':13 'park':21 'squirrel':11 'stori':5 'woman':16"),
 (40, 'Army Flintstones', 'A Boring Saga of a Database Administrator And a Womanizer who must Battle a Waitress in Nigeria', 2006, 1, 4, Decimal('0.99'), 148, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'administr':9 'armi':1 'battl':15 'bore':4 'databas':8 'flintston':2 'must':14 'nigeria':19 'saga':5 'waitress':17 'woman':12"),
 (49, 'Badman Dawn', 'A Emotional Panorama of a Pioneer And a Composer who must Escape a Mad Scientist in A Jet Boat', 2006, 1, 6, Decimal('2.99'), 162, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'badman':1 'boat':21 'compos':11 'dawn':2 'emot':4 'escap':14 'jet':20 'mad':16 'must':13 'panorama':5 'pioneer':8 'scientist':17"),
 (54, 'Banger Pinocchio', 'A Awe-Inspiring Drama of a Car And a Pastry Chef who must Chase a Crocodile in The First Manned Space Station', 2006, 1, 5, Decimal('0.99'), 113, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'awe':5 'awe-inspir':4 'banger':1 'car':10 'chase':17 'chef':14 'crocodil':19 'drama':7 'first':22 'inspir':6 'man':23 'must':16 'pastri':13 'pinocchio':2 'space':24 'station':25"),
 (59, 'Bear Graceland', 'A Astounding Saga of a Dog And a Boy who must Kill a Teacher in The First Manned Space Station', 2006, 1, 4, Decimal('2.99'), 160, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'astound':4 'bear':1 'boy':11 'dog':8 'first':19 'graceland':2 'kill':14 'man':20 'must':13 'saga':5 'space':21 'station':22 'teacher':16"),
 (60, 'Beast Hunchback', 'A Awe-Inspiring Epistle of a Student And a Squirrel who must Defeat a Boy in Ancient China', 2006, 1, 3, Decimal('4.99'), 89, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'ancient':20 'awe':5 'awe-inspir':4 'beast':1 'boy':18 'china':21 'defeat':16 'epistl':7 'hunchback':2 'inspir':6 'must':15 'squirrel':13 'student':10"),
 (69, 'Beverly Outlaw', 'A Fanciful Documentary of a Womanizer And a Boat who must Defeat a Madman in The First Manned Space Station', 2006, 1, 3, Decimal('2.99'), 85, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'bever':1 'boat':11 'defeat':14 'documentari':5 'fanci':4 'first':19 'madman':16 'man':20 'must':13 'outlaw':2 'space':21 'station':22 'woman':8"),
 (86, 'Boogie Amelie', 'A Lacklusture Character Study of a Husband And a Sumo Wrestler who must Succumb a Technical Writer in The Gulf of Mexico', 2006, 1, 6, Decimal('4.99'), 121, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'ameli':2 'boogi':1 'charact':5 'gulf':22 'husband':9 'lacklustur':4 'mexico':24 'must':15 'studi':6 'succumb':16 'sumo':12 'technic':18 'wrestler':13 'writer':19"),
 (90, 'Boulevard Mob', 'A Fateful Epistle of a Moose And a Monkey who must Confront a Lumberjack in Ancient China', 2006, 1, 3, Decimal('0.99'), 63, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'ancient':18 'boulevard':1 'china':19 'confront':14 'epistl':5 'fate':4 'lumberjack':16 'mob':2 'monkey':11 'moos':8 'must':13"),
 (100, 'Brooklyn Desert', 'A Beautiful Drama of a Dentist And a Composer who must Battle a Sumo Wrestler in The First Manned Space Station', 2006, 1, 7, Decimal('4.99'), 161, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'battl':14 'beauti':4 'brooklyn':1 'compos':11 'dentist':8 'desert':2 'drama':5 'first':20 'man':21 'must':13 'space':22 'station':23 'sumo':16 'wrestler':17"),
 (101, 'Brotherhood Blanket', 'A Fateful Character Study of a Butler And a Technical Writer who must Sink a Astronaut in Ancient Japan', 2006, 1, 3, Decimal('0.99'), 73, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'ancient':20 'astronaut':18 'blanket':2 'brotherhood':1 'butler':9 'charact':5 'fate':4 'japan':21 'must':15 'sink':16 'studi':6 'technic':12 'writer':13"),
 (102, 'Bubble Grosse', 'A Awe-Inspiring Panorama of a Crocodile And a Moose who must Confront a Girl in A Baloon', 2006, 1, 4, Decimal('4.99'), 60, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'awe':5 'awe-inspir':4 'baloon':21 'bubbl':1 'confront':16 'crocodil':10 'girl':18 'gross':2 'inspir':6 'moos':13 'must':15 'panorama':7"),
 (115, 'Campus Remember', 'A Astounding Drama of a Crocodile And a Mad Cow who must Build a Robot in A Jet Boat', 2006, 1, 5, Decimal('2.99'), 167, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'astound':4 'boat':21 'build':15 'campus':1 'cow':12 'crocodil':8 'drama':5 'jet':20 'mad':11 'must':14 'rememb':2 'robot':17"),
 (116, 'Candidate Perdition', 'A Brilliant Epistle of a Composer And a Database Administrator who must Vanquish a Mad Scientist in The First Manned Space Station', 2006, 1, 4, Decimal('2.99'), 70, Decimal('10.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'administr':12 'brilliant':4 'candid':1 'compos':8 'databas':11 'epistl':5 'first':21 'mad':17 'man':22 'must':14 'perdit':2 'scientist':18 'space':23 'station':24 'vanquish':15"),
 (118, 'Canyon Stock', 'A Thoughtful Reflection of a Waitress And a Feminist who must Escape a Squirrel in A Manhattan Penthouse', 2006, 1, 7, Decimal('0.99'), 85, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'canyon':1 'escap':14 'feminist':11 'manhattan':19 'must':13 'penthous':20 'reflect':5 'squirrel':16 'stock':2 'thought':4 'waitress':8"),
 (129, 'Cause Date', 'A Taut Tale of a Explorer And a Pastry Chef who must Conquer a Hunter in A MySQL Convention', 2006, 1, 3, Decimal('2.99'), 179, Decimal('16.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'caus':1 'chef':12 'conquer':15 'convent':21 'date':2 'explor':8 'hunter':17 'must':14 'mysql':20 'pastri':11 'tale':5 'taut':4"),
 (135, 'Chance Resurrection', 'A Astounding Story of a Forensic Psychologist And a Forensic Psychologist who must Overcome a Moose in Ancient China', 2006, 1, 3, Decimal('2.99'), 70, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'ancient':20 'astound':4 'chanc':1 'china':21 'forens':8,12 'moos':18 'must':15 'overcom':16 'psychologist':9,13 'resurrect':2 'stori':5"),
 (138, 'Chariots Conspiracy', 'A Unbelieveable Epistle of a Robot And a Husband who must Chase a Robot in The First Manned Space Station', 2006, 1, 5, Decimal('2.99'), 71, Decimal('29.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'chariot':1 'chase':14 'conspiraci':2 'epistl':5 'first':19 'husband':11 'man':20 'must':13 'robot':8,16 'space':21 'station':22 'unbeliev':4"),
 (148, 'Chocolate Duck', 'A Unbelieveable Story of a Mad Scientist And a Technical Writer who must Discover a Composer in Ancient China', 2006, 1, 3, Decimal('2.99'), 132, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'ancient':20 'china':21 'chocol':1 'compos':18 'discov':16 'duck':2 'mad':8 'must':15 'scientist':9 'stori':5 'technic':12 'unbeliev':4 'writer':13"),
 (158, 'Clones Pinocchio', 'A Amazing Drama of a Car And a Robot who must Pursue a Dentist in New Orleans', 2006, 1, 6, Decimal('2.99'), 124, Decimal('16.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'amaz':4 'car':8 'clone':1 'dentist':16 'drama':5 'must':13 'new':18 'orlean':19 'pinocchio':2 'pursu':14 'robot':11"),
 (159, 'Closer Bang', 'A Unbelieveable Panorama of a Frisbee And a Hunter who must Vanquish a Monkey in Ancient India', 2006, 1, 5, Decimal('4.99'), 58, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'ancient':18 'bang':2 'closer':1 'frisbe':8 'hunter':11 'india':19 'monkey':16 'must':13 'panorama':5 'unbeliev':4 'vanquish':14"),
 (162, 'Clueless Bucket', 'A Taut Tale of a Car And a Pioneer who must Conquer a Sumo Wrestler in An Abandoned Fun House', 2006, 1, 4, Decimal('2.99'), 95, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'abandon':20 'bucket':2 'car':8 'clueless':1 'conquer':14 'fun':21 'hous':22 'must':13 'pioneer':11 'sumo':16 'tale':5 'taut':4 'wrestler':17"),
 (168, 'Comancheros Enemy', 'A Boring Saga of a Lumberjack And a Monkey who must Find a Monkey in The Gulf of Mexico', 2006, 1, 5, Decimal('0.99'), 67, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'bore':4 'comanchero':1 'enemi':2 'find':14 'gulf':19 'lumberjack':8 'mexico':21 'monkey':11,16 'must':13 'saga':5"),
 (171, 'Commandments Express', 'A Fanciful Saga of a Student And a Mad Scientist who must Battle a Hunter in An Abandoned Mine Shaft', 2006, 1, 6, Decimal('4.99'), 59, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'abandon':20 'battl':15 'command':1 'express':2 'fanci':4 'hunter':17 'mad':11 'mine':21 'must':14 'saga':5 'scientist':12 'shaft':22 'student':8"),
 (177, 'Connecticut Tramp', 'A Unbelieveable Drama of a Crocodile And a Mad Cow who must Reach a Dentist in A Shark Tank', 2006, 1, 4, Decimal('4.99'), 172, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'connecticut':1 'cow':12 'crocodil':8 'dentist':17 'drama':5 'mad':11 'must':14 'reach':15 'shark':20 'tank':21 'tramp':2 'unbeliev':4"),
 (183, 'Conversation Downhill', 'A Taut Character Study of a Husband And a Waitress who must Sink a Squirrel in A MySQL Convention', 2006, 1, 4, Decimal('4.99'), 112, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'charact':5 'convent':21 'convers':1 'downhil':2 'husband':9 'must':14 'mysql':20 'sink':15 'squirrel':17 'studi':6 'taut':4 'waitress':12"),
 (192, 'Crossing Divorce', 'A Beautiful Documentary of a Dog And a Robot who must Redeem a Womanizer in Berlin', 2006, 1, 4, Decimal('4.99'), 50, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'beauti':4 'berlin':18 'cross':1 'divorc':2 'documentari':5 'dog':8 'must':13 'redeem':14 'robot':11 'woman':16"),
 (195, 'Crowds Telemark', 'A Intrepid Documentary of a Astronaut And a Forensic Psychologist who must Find a Frisbee in An Abandoned Fun House', 2006, 1, 3, Decimal('4.99'), 112, Decimal('16.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'abandon':20 'astronaut':8 'crowd':1 'documentari':5 'find':15 'forens':11 'frisbe':17 'fun':21 'hous':22 'intrepid':4 'must':14 'psychologist':12 'telemark':2"),
 (197, 'Crusade Honey', 'A Fast-Paced Reflection of a Explorer And a Butler who must Battle a Madman in An Abandoned Amusement Park', 2006, 1, 4, Decimal('2.99'), 112, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'abandon':21 'amus':22 'battl':16 'butler':13 'crusad':1 'explor':10 'fast':5 'fast-pac':4 'honey':2 'madman':18 'must':15 'pace':6 'park':23 'reflect':7"),
 (199, 'Cupboard Sinners', 'A Emotional Reflection of a Frisbee And a Boat who must Reach a Pastry Chef in An Abandoned Amusement Park', 2006, 1, 4, Decimal('2.99'), 56, Decimal('29.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'abandon':20 'amus':21 'boat':11 'chef':17 'cupboard':1 'emot':4 'frisbe':8 'must':13 'park':22 'pastri':16 'reach':14 'reflect':5 'sinner':2"),
 (213, 'Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention', 2006, 1, 4, Decimal('0.99'), 104, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'compos':8 'convent':20 'date':1 'dentist':16 'discov':14 'moos':11 'must':13 'mysql':19 'saga':5 'speed':2 'touch':4"),
 (221, 'Deliverance Mulholland', 'A Astounding Saga of a Monkey And a Moose who must Conquer a Butler in A Shark Tank', 2006, 1, 4, Decimal('0.99'), 100, Decimal('9.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'astound':4 'butler':16 'conquer':14 'deliver':1 'monkey':8 'moos':11 'mulholland':2 'must':13 'saga':5 'shark':19 'tank':20"),
 (222, 'Desert Poseidon', 'A Brilliant Documentary of a Butler And a Frisbee who must Build a Astronaut in New Orleans', 2006, 1, 4, Decimal('4.99'), 64, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'astronaut':16 'brilliant':4 'build':14 'butler':8 'desert':1 'documentari':5 'frisbe':11 'must':13 'new':18 'orlean':19 'poseidon':2"),
 (227, 'Details Packer', 'A Epic Saga of a Waitress And a Composer who must Face a Boat in A U-Boat', 2006, 1, 4, Decimal('4.99'), 88, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'boat':16,21 'compos':11 'detail':1 'epic':4 'face':14 'must':13 'packer':2 'saga':5 'u':20 'u-boat':19 'waitress':8"),
 (229, 'Devil Desire', 'A Beautiful Reflection of a Monkey And a Dentist who must Face a Database Administrator in Ancient Japan', 2006, 1, 6, Decimal('4.99'), 87, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'administr':17 'ancient':19 'beauti':4 'databas':16 'dentist':11 'desir':2 'devil':1 'face':14 'japan':20 'monkey':8 'must':13 'reflect':5"),
 (231, 'Dinosaur Secretary', 'A Action-Packed Drama of a Feminist And a Girl who must Reach a Robot in The Canadian Rockies', 2006, 1, 7, Decimal('2.99'), 63, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'action':5 'action-pack':4 'canadian':21 'dinosaur':1 'drama':7 'feminist':10 'girl':13 'must':15 'pack':6 'reach':16 'robot':18 'rocki':22 'secretari':2"),
 (234, 'Disturbing Scarface', 'A Lacklusture Display of a Crocodile And a Butler who must Overcome a Monkey in A U-Boat', 2006, 1, 6, Decimal('2.99'), 94, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'boat':21 'butler':11 'crocodil':8 'display':5 'disturb':1 'lacklustur':4 'monkey':16 'must':13 'overcom':14 'scarfac':2 'u':20 'u-boat':19"),
 (236, 'Divine Resurrection', 'A Boring Character Study of a Man And a Womanizer who must Succumb a Teacher in An Abandoned Amusement Park', 2006, 1, 4, Decimal('2.99'), 100, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'abandon':20 'amus':21 'bore':4 'charact':5 'divin':1 'man':9 'must':14 'park':22 'resurrect':2 'studi':6 'succumb':15 'teacher':17 'woman':12"),
 (242, 'Doom Dancing', 'A Astounding Panorama of a Car And a Mad Scientist who must Battle a Lumberjack in A MySQL Convention', 2006, 1, 4, Decimal('0.99'), 68, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'astound':4 'battl':15 'car':8 'convent':21 'danc':2 'doom':1 'lumberjack':17 'mad':11 'must':14 'mysql':20 'panorama':5 'scientist':12"),
 (245, 'Double Wrath', 'A Thoughtful Yarn of a Womanizer And a Dog who must Challenge a Madman in The Gulf of Mexico', 2006, 1, 4, Decimal('0.99'), 177, Decimal('28.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'challeng':14 'dog':11 'doubl':1 'gulf':19 'madman':16 'mexico':21 'must':13 'thought':4 'woman':8 'wrath':2 'yarn':5"),
 (246, 'Doubtfire Labyrinth', 'A Intrepid Panorama of a Butler And a Composer who must Meet a Mad Cow in The Sahara Desert', 2006, 1, 5, Decimal('4.99'), 154, Decimal('16.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'butler':8 'compos':11 'cow':17 'desert':21 'doubtfir':1 'intrepid':4 'labyrinth':2 'mad':16 'meet':14 'must':13 'panorama':5 'sahara':20"),

In [23]:
%%sql

SELECT * FROM film WHERE rating = 'R' ORDER BY title DESC

 * postgresql://postgres:***@localhost/dvdrental
195 rows affected.

[(999, 'Zoolander Fiction', 'A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China', 2006, 1, 5, Decimal('2.99'), 101, Decimal('28.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'ancient':19 'boat':11 'china':20 'discov':14 'fate':4 'fiction':2 'must':13 'reflect':5 'sumo':16 'waitress':8 'wrestler':17 'zooland':1"),
 (995, 'Yentl Idaho', 'A Amazing Display of a Robot And a Astronaut who must Fight a Womanizer in Berlin', 2006, 1, 5, Decimal('4.99'), 86, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'amaz':4 'astronaut':11 'berlin':18 'display':5 'fight':14 'idaho':2 'must':13 'robot':8 'woman':16 'yentl':1"),
 (989, 'Working Microcosmos', 'A Stunning Epistle of a Dentist And a Dog who must Kill a Madman in Ancient China', 2006, 1, 4, Decimal('4.99'), 74, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'ancient':18 'china':19 'dentist':8 'dog':11 'epistl':5 'kill':14 'madman':16 'microcosmo':2 'must':13 'stun':4 'work':1"),
 (988, 'Worker Tarzan', 'A Action-Packed Yarn of a Secret Agent And a Technical Writer who must Battle a Sumo Wrestler in The First Manned Space Station', 2006, 1, 7, Decimal('2.99'), 139, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'action':5 'action-pack':4 'agent':11 'battl':18 'first':24 'man':25 'must':17 'pack':6 'secret':10 'space':26 'station':27 'sumo':20 'tarzan':2 'technic':14 'worker':1 'wrestler':21 'writer':15 'yarn':7"),
 (982, 'Women Dorado', 'A Insightful Documentary of a Waitress And a Butler who must Vanquish a Composer in Australia', 2006, 1, 4, Decimal('0.99'), 126, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'australia':18 'butler':11 'compos':16 'documentari':5 'dorado':2 'insight':4 'must':13 'vanquish':14 'waitress':8 'women':1"),
 (978, 'Wisdom Worker', 'A Unbelieveable Saga of a Forensic Psychologist And a Student who must Face a Squirrel in The First Manned Space Station', 2006, 1, 3, Decimal('0.99'), 98, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'face':15 'first':20 'forens':8 'man':21 'must':14 'psychologist':9 'saga':5 'space':22 'squirrel':17 'station':23 'student':12 'unbeliev':4 'wisdom':1 'worker':2"),
 (977, 'Window Side', 'A Astounding Character Study of a Womanizer And a Hunter who must Escape a Robot in A Monastery', 2006, 1, 3, Decimal('2.99'), 85, Decimal('25.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'astound':4 'charact':5 'escap':15 'hunter':12 'monasteri':20 'must':14 'robot':17 'side':2 'studi':6 'window':1 'woman':9"),
 (976, 'Wind Phantom', 'A Touching Saga of a Madman And a Forensic Psychologist who must Build a Sumo Wrestler in An Abandoned Mine Shaft', 2006, 1, 6, Decimal('0.99'), 111, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'abandon':21 'build':15 'forens':11 'madman':8 'mine':22 'must':14 'phantom':2 'psychologist':12 'saga':5 'shaft':23 'sumo':17 'touch':4 'wind':1 'wrestler':18"),
 (975, 'Willow Tracy', 'A Brilliant Panorama of a Boat And a Astronaut who must Challenge a Teacher in A Manhattan Penthouse', 2006, 1, 6, Decimal('2.99'), 137, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'astronaut':11 'boat':8 'brilliant':4 'challeng':14 'manhattan':19 'must':13 'panorama':5 'penthous':20 'teacher':16 'traci':2 'willow':1"),
 (974, 'Wild Apollo', 'A Beautiful Story of a Monkey And a Sumo Wrestler who must Conquer a A Shark in A MySQL Convention', 2006, 1, 4, Decimal('0.99'), 181, Decimal('24.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'apollo':2 'beauti':4 'conquer':15 'convent':22 'monkey':8 'must':14 'mysql':21 'shark':18 'stori':5 'sumo':11 'wild':1 'wrestler':12"),
 (967, 'Weekend Personal', 'A Fast-Paced Documentary of a Car And a Butler who must Find a Frisbee in A Jet Boat', 2006, 1, 5, Decimal('2.99'), 134, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'boat':22 'butler':13 'car':10 'documentari':7 'fast':5 'fast-pac':4 'find':16 'frisbe':18 'jet':21 'must':15 'pace':6 'person':2 'weekend':1"),
 (961, 'Wash Heavenly', 'A Awe-Inspiring Reflection of a Cat And a Pioneer who must Escape a Hunter in Ancient China', 2006, 1, 7, Decimal('4.99'), 161, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'ancient':20 'awe':5 'awe-inspir':4 'cat':10 'china':21 'escap':16 'heaven':2 'hunter':18 'inspir':6 'must':15 'pioneer':13 'reflect':7 'wash':1"),
 (945, 'Virginian Pluto', 'A Emotional Panorama of a Dentist And a Crocodile who must Meet a Boy in Berlin', 2006, 1, 5, Decimal('0.99'), 164, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'berlin':18 'boy':16 'crocodil':11 'dentist':8 'emot':4 'meet':14 'must':13 'panorama':5 'pluto':2 'virginian':1"),
 (939, 'Vertigo Northwest', 'A Unbelieveable Display of a Mad Scientist And a Mad Scientist who must Outgun a Mad Cow in Ancient Japan', 2006, 1, 4, Decimal('2.99'), 90, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'ancient':21 'cow':19 'display':5 'japan':22 'mad':8,12,18 'must':15 'northwest':2 'outgun':16 'scientist':9,13 'unbeliev':4 'vertigo':1"),
 (938, 'Velvet Terminator', 'A Lacklusture Tale of a Pastry Chef And a Technical Writer who must Confront a Crocodile in An Abandoned Amusement Park', 2006, 1, 3, Decimal('4.99'), 173, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'abandon':21 'amus':22 'chef':9 'confront':16 'crocodil':18 'lacklustur':4 'must':15 'park':23 'pastri':8 'tale':5 'technic':12 'termin':2 'velvet':1 'writer':13"),
 (935, 'Vanished Garden', 'A Intrepid Character Study of a Squirrel And a A Shark who must Kill a Lumberjack in California', 2006, 1, 5, Decimal('0.99'), 142, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'california':20 'charact':5 'garden':2 'intrepid':4 'kill':16 'lumberjack':18 'must':15 'shark':13 'squirrel':9 'studi':6 'vanish':1"),
 (930, 'Vacation Boondock', 'A Fanciful Character Study of a Secret Agent And a Mad Scientist who must Reach a Teacher in Australia', 2006, 1, 4, Decimal('2.99'), 145, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'agent':10 'australia':21 'boondock':2 'charact':5 'fanci':4 'mad':13 'must':16 'reach':17 'scientist':14 'secret':9 'studi':6 'teacher':19 'vacat':1"),
 (925, 'United Pilot', 'A Fast-Paced Reflection of a Cat And a Mad Cow who must Fight a Car in The Sahara Desert', 2006, 1, 3, Decimal('0.99'), 164, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'car':19 'cat':10 'cow':14 'desert':23 'fast':5 'fast-pac':4 'fight':17 'mad':13 'must':16 'pace':6 'pilot':2 'reflect':7 'sahara':22 'unit':1"),
 (923, 'Unfaithful Kill', 'A Taut Documentary of a Waitress And a Mad Scientist who must Battle a Technical Writer in New Orleans', 2006, 1, 7, Decimal('2.99'), 78, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'battl':15 'documentari':5 'kill':2 'mad':11 'must':14 'new':20 'orlean':21 'scientist':12 'taut':4 'technic':17 'unfaith':1 'waitress':8 'writer':18"),
 (917, 'Tuxedo Mile', 'A Boring Drama of a Man And a Forensic Psychologist who must Face a Frisbee in Ancient India', 2006, 1, 3, Decimal('2.99'), 152, Decimal('24.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'ancient':19 'bore':4 'drama':5 'face':15 'forens':11 'frisbe':17 'india':20 'man':8 'mile':2 'must':14 'psychologist':12 'tuxedo':1"),
 (913, 'Troopers Metal', 'A Fanciful Drama of a Monkey And a Feminist who must Sink a Man in Berlin', 2006, 1, 3, Decimal('0.99'), 115, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'berlin':18 'drama':5 'fanci':4 'feminist':11 'man':16 'metal':2 'monkey':8 'must':13 'sink':14 'trooper':1"),
 (904, 'Train Bunch', 'A Thrilling Character Study of a Robot And a Squirrel who must Face a Dog in Ancient India', 2006, 1, 3, Decimal('4.99'), 71, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'ancient':19 'bunch':2 'charact':5 'dog':17 'face':15 'india':20 'must':14 'robot':9 'squirrel':12 'studi':6 'thrill':4 'train':1"),
 (900, 'Town Ark', 'A Awe-Inspiring Documentary of a Moose And a Madman who must Meet a Dog in An Abandoned Mine Shaft', 2006, 1, 6, Decimal('2.99'), 136, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'abandon':21 'ark':2 'awe':5 'awe-inspir':4 'documentari':7 'dog':18 'inspir':6 'madman':13 'meet':16 'mine':22 'moos':10 'must':15 'shaft':23 'town':1"),
 (895, 'Tomorrow Hustler', 'A Thoughtful Story of a Moose And a Husband who must Face a Secret Agent in The Sahara Desert', 2006, 1, 3, Decimal('2.99'), 142, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'agent':17 'desert':21 'face':14 'husband':11 'hustler':2 'moos':8 'must':13 'sahara':20 'secret':16 'stori':5 'thought':4 'tomorrow':1"),
 (892, 'Titanic Boondock', 'A Brilliant Reflection of a Feminist And a Dog who must Fight a Boy in A Baloon Factory', 2006, 1, 3, Decimal('4.99'), 104, Decimal('18.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'baloon':19 'boondock':2 'boy':16 'brilliant':4 'dog':11 'factori':20 'feminist':8 'fight':14 'must':13 'reflect':5 'titan':1"),
 (890, 'Tights Dawn', 'A Thrilling Epistle of a Boat And a Secret Agent who must Face a Boy in A Baloon', 2006, 1, 5, Decimal('0.99'), 172, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'agent':12 'baloon':20 'boat':8 'boy':17 'dawn':2 'epistl':5 'face':15 'must':14 'secret':11 'thrill':4 'tight':1"),
 (889, 'Ties Hunger', 'A Insightful Saga of a Astronaut And a Explorer who must Pursue a Mad Scientist in A U-Boat', 2006, 1, 3, Decimal('4.99'), 111, Decimal('28.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'astronaut':8 'boat':22 'explor':11 'hunger':2 'insight':4 'mad':16 'must':13 'pursu':14 'saga':5 'scientist':17 'tie':1 'u':21 'u-boat':20"),
 (884, 'Terminator Club', 'A Touching Story of a Crocodile And a Girl who must Sink a Man in The Gulf of Mexico', 2006, 1, 5, Decimal('4.99'), 88, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'club':2 'crocodil':8 'girl':11 'gulf':19 'man':16 'mexico':21 'must':13 'sink':14 'stori':5 'termin':1 'touch':4"),
 (872, 'Sweet Brotherhood', 'A Unbelieveable Epistle of a Sumo Wrestler And a Hunter who must Chase a Forensic Psychologist in A Baloon', 2006, 1, 3, Decimal('2.99'), 185, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'baloon':21 'brotherhood':2 'chase':15 'epistl':5 'forens':17 'hunter':12 'must':14 'psychologist':18 'sumo':8 'sweet':1 'unbeliev':4 'wrestler':9"),
 (863, 'Sun Confessions', 'A Beautiful Display of a Mad Cow And a Dog who must Redeem a Waitress in An Abandoned Amusement Park', 2006, 1, 5, Decimal('0.99'), 141, Decimal('9.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'abandon':20 'amus':21 'beauti':4 'confess':2 'cow':9 'display':5 'dog':12 'mad':8 'must':14 'park':22 'redeem':15 'sun':1 'waitress':17"),
 (861, 'Suit Walls', 'A Touching Panorama of a Lumberjack And a Frisbee who must Build a Dog in Australia', 2006, 1, 3, Decimal('4.99'), 111, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'australia':18 'build':14 'dog':16 'frisbe':11 'lumberjack':8 'must':13 'panorama':5 'suit':1 'touch':4 'wall':2"),
 (858, 'Submarine Bed', 'A Amazing Display of a Car And a Monkey who must Fight a Teacher in Soviet Georgia', 2006, 1, 5, Decimal('4.99'), 127, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'amaz':4 'bed':2 'car':8 'display':5 'fight':14 'georgia':19 'monkey':11 'must':13 'soviet':18 'submarin':1 'teacher':16"),
 (856, 'Streetcar Intentions', 'A Insightful Character Study of a Waitress And a Crocodile who must Sink a Waitress in The Gulf of Mexico', 2006, 1, 5, Decimal('4.99'), 73, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'charact':5 'crocodil':12 'gulf':20 'insight':4 'intent':2 'mexico':22 'must':14 'sink':15 'streetcar':1 'studi':6 'waitress':9,17"),
 (854, 'Strangers Graffiti', 'A Brilliant Character Study of a Secret Agent And a Man who must Find a Cat in The Gulf of Mexico', 2006, 1, 4, Decimal('4.99'), 119, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'agent':10 'brilliant':4 'cat':18 'charact':5 'find':16 'graffiti':2 'gulf':21 'man':13 'mexico':23 'must':15 'secret':9 'stranger':1 'studi':6"),
 (851, 'Straight Hours', 'A Boring Panorama of a Secret Agent And a Girl who must Sink a Waitress in The Outback', 2006, 1, 3, Decimal('0.99'), 151, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'agent':9 'bore':4 'girl':12 'hour':2 'must':14 'outback':20 'panorama':5 'secret':8 'sink':15 'straight':1 'waitress':17"),
 (850, 'Story Side', 'A Lacklusture Saga of a Boy And a Cat who must Sink a Dentist in An Abandoned Mine Shaft', 2006, 1, 7, Decimal('0.99'), 163, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'abandon':19 'boy':8 'cat':11 'dentist':16 'lacklustur':4 'mine':20 'must':13 'saga':5 'shaft':21 'side':2 'sink':14 'stori':1"),
 (840, 'Stampede Disturbing', 'A Unbelieveable Tale of a Woman And a Lumberjack who must Fight a Frisbee in A U-Boat', 2006, 1, 5, Decimal('0.99'), 75, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'boat':21 'disturb':2 'fight':14 'frisbe':16 'lumberjack':11 'must':13 'stamped':1 'tale':5 'u':20 'u-boat':19 'unbeliev':4 'woman':8"),
 (838, 'Stagecoach Armageddon', 'A Touching Display of a Pioneer And a Butler who must Chase a Car in California', 2006, 1, 5, Decimal('4.99'), 112, Decimal('25.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'armageddon':2 'butler':11 'california':18 'car':16 'chase':14 'display':5 'must':13 'pioneer':8 'stagecoach':1 'touch':4"),
 (833, 'Splendor Patton', 'A Taut Story of a Dog And a Explorer who must Find a Astronaut in Berlin', 2006, 1, 5, Decimal('0.99'), 134, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'astronaut':16 'berlin':18 'dog':8 'explor':11 'find':14 'must':13 'patton':2 'splendor':1 'stori':5 'taut':4"),
 (830, 'Spirit Flintstones', 'A Brilliant Yarn of a Cat And a Car who must Confront a Explorer in Ancient Japan', 2006, 1, 7, Decimal('0.99'), 149, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'ancient':18 'brilliant':4 'car':11 'cat':8 'confront':14 'explor':16 'flintston':2 'japan':19 'must':13 'spirit':1 'yarn':5"),
 (823, 'South Wait', 'A Amazing Documentary of a Car And a Robot who must Escape a Lumberjack in An Abandoned Amusement Park', 2006, 1, 4, Decimal('2.99'), 143, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'abandon':19 'amaz':4 'amus':20 'car':8 'documentari':5 'escap':14 'lumberjack':16 'must':13 'park':21 'robot':11 'south':1 'wait':2"),
 (822, 'Soup Wisdom', 'A Fast-Paced Display of a Robot And a Butler who must Defeat a Butler in A MySQL Convention', 2006, 1, 6, Decimal('0.99'), 169, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'butler':13,18 'convent':22 'defeat':16 'display':7 'fast':5 'fast-pac':4 'must':15 'mysql':21 'pace':6 'robot':10 'soup':1 'wisdom':2"),
 (817, 'Soldiers Evolution', 'A Lacklusture Panorama of a A Shark And a Pioneer who must Confront a Student in The First Manned Space Station', 2006, 1, 7, Decimal('4.99'), 185, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'confront':15 'evolut':2 'first':20 'lacklustur':4 'man':21 'must':14 'panorama':5 'pioneer':12 'shark':9 'soldier':1 'space':22 'station':23 'student':17"),
 (813, 'Smoochy Control', 'A Thrilling Documentary of a Husband And a Feminist who must Face a Mad Scientist in Ancient China', 2006, 1, 7, Decimal('0.99'), 184, Decimal('18.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'ancient':19 'china':20 'control':2 'documentari':5 'face':14 'feminist':11 'husband':8 'mad':16 'must':13 'scientist':17 'smoochi':1 'thrill':4"),
 (808, 'Sling Luke', 'A Intrepid Character Study of a Robot And a Monkey who must Reach a Secret Agent in An Abandoned Amusement Park', 2006, 1, 5, Decimal('0.99'), 84, Decimal('10.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'abandon':21 'agent':18 'amus':22 'charact':5 'intrepid':4 'luke':2 'monkey':12 'must':14 'park':23 'reach':15 'robot':9 'secret':17 'sling':1 'studi':6"),
 (803, 'Slacker Liaisons', 'A Fast-Paced Tale of a A Shark And a Student who must Meet a Crocodile in Ancient China', 2006, 1, 7, Decimal('4.99'), 179, Decimal('29.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'ancient':21 'china':22 'crocodil':19 'fast':5 'fast-pac':4 'liaison':2 'meet':17 'must':16 'pace':6 'shark':11 'slacker':1 'student':14 'tale':7"),
 (797, 'Silence Kane', 'A Emotional Drama of a Sumo Wrestler And a Dentist who must Confront a Sumo Wrestler in A Baloon', 2006, 1, 7, Decimal('0.99'), 67, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'baloon':21 'confront':15 'dentist':12 'drama':5 'emot':4 'kane':2 'must':14 'silenc':1 'sumo':8,17 'wrestler':9,18"),
 (795, 'Siege Madre', 'A Boring Tale of a Frisbee And a Crocodile who must Vanquish a Moose in An Abandoned Mine Shaft', 2006, 1, 7, Decimal('0.99'), 111, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'abandon':19 'bore':4 'crocodil':11 'frisbe':8 'madr':2 'mine':20 'moos':16 'must':13 'shaft':21 'sieg':1 'tale':5 'vanquish':14"),

In [24]:
%%sql

SELECT * FROM film WHERE rating = 'R' ORDER BY description DESC, replacement_cost DESC

 * postgresql://postgres:***@localhost/dvdrental
195 rows affected.

[(339, 'Frogmen Breaking', 'A Unbelieveable Yarn of a Mad Scientist And a Cat who must Chase a Lumberjack in Australia', 2006, 1, 5, Decimal('0.99'), 111, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'australia':19 'break':2 'cat':12 'chase':15 'frogmen':1 'lumberjack':17 'mad':8 'must':14 'scientist':9 'unbeliev':4 'yarn':5"),
 (840, 'Stampede Disturbing', 'A Unbelieveable Tale of a Woman And a Lumberjack who must Fight a Frisbee in A U-Boat', 2006, 1, 5, Decimal('0.99'), 75, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'boat':21 'disturb':2 'fight':14 'frisbe':16 'lumberjack':11 'must':13 'stamped':1 'tale':5 'u':20 'u-boat':19 'unbeliev':4 'woman':8"),
 (148, 'Chocolate Duck', 'A Unbelieveable Story of a Mad Scientist And a Technical Writer who must Discover a Composer in Ancient China', 2006, 1, 3, Decimal('2.99'), 132, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'ancient':20 'china':21 'chocol':1 'compos':18 'discov':16 'duck':2 'mad':8 'must':15 'scientist':9 'stori':5 'technic':12 'unbeliev':4 'writer':13"),
 (978, 'Wisdom Worker', 'A Unbelieveable Saga of a Forensic Psychologist And a Student who must Face a Squirrel in The First Manned Space Station', 2006, 1, 3, Decimal('0.99'), 98, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'face':15 'first':20 'forens':8 'man':21 'must':14 'psychologist':9 'saga':5 'space':22 'squirrel':17 'station':23 'student':12 'unbeliev':4 'wisdom':1 'worker':2"),
 (159, 'Closer Bang', 'A Unbelieveable Panorama of a Frisbee And a Hunter who must Vanquish a Monkey in Ancient India', 2006, 1, 5, Decimal('4.99'), 58, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'ancient':18 'bang':2 'closer':1 'frisbe':8 'hunter':11 'india':19 'monkey':16 'must':13 'panorama':5 'unbeliev':4 'vanquish':14"),
 (872, 'Sweet Brotherhood', 'A Unbelieveable Epistle of a Sumo Wrestler And a Hunter who must Chase a Forensic Psychologist in A Baloon', 2006, 1, 3, Decimal('2.99'), 185, Decimal('27.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'baloon':21 'brotherhood':2 'chase':15 'epistl':5 'forens':17 'hunter':12 'must':14 'psychologist':18 'sumo':8 'sweet':1 'unbeliev':4 'wrestler':9"),
 (138, 'Chariots Conspiracy', 'A Unbelieveable Epistle of a Robot And a Husband who must Chase a Robot in The First Manned Space Station', 2006, 1, 5, Decimal('2.99'), 71, Decimal('29.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'chariot':1 'chase':14 'conspiraci':2 'epistl':5 'first':19 'husband':11 'man':20 'must':13 'robot':8,16 'space':21 'station':22 'unbeliev':4"),
 (523, 'Lights Deer', 'A Unbelieveable Epistle of a Dog And a Woman who must Confront a Moose in The Gulf of Mexico', 2006, 1, 7, Decimal('0.99'), 174, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'confront':14 'deer':2 'dog':8 'epistl':5 'gulf':19 'light':1 'mexico':21 'moos':16 'must':13 'unbeliev':4 'woman':11"),
 (177, 'Connecticut Tramp', 'A Unbelieveable Drama of a Crocodile And a Mad Cow who must Reach a Dentist in A Shark Tank', 2006, 1, 4, Decimal('4.99'), 172, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'connecticut':1 'cow':12 'crocodil':8 'dentist':17 'drama':5 'mad':11 'must':14 'reach':15 'shark':20 'tank':21 'tramp':2 'unbeliev':4"),
 (728, 'Reunion Witches', 'A Unbelieveable Documentary of a Database Administrator And a Frisbee who must Redeem a Mad Scientist in A Baloon Factory', 2006, 1, 3, Decimal('0.99'), 63, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'administr':9 'baloon':21 'databas':8 'documentari':5 'factori':22 'frisbe':12 'mad':17 'must':14 'redeem':15 'reunion':1 'scientist':18 'unbeliev':4 'witch':2"),
 (358, 'Gilmore Boiled', 'A Unbelieveable Documentary of a Boat And a Husband who must Succumb a Student in A U-Boat', 2006, 1, 5, Decimal('0.99'), 163, Decimal('29.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'boat':8,21 'boil':2 'documentari':5 'gilmor':1 'husband':11 'must':13 'student':16 'succumb':14 'u':20 'u-boat':19 'unbeliev':4"),
 (939, 'Vertigo Northwest', 'A Unbelieveable Display of a Mad Scientist And a Mad Scientist who must Outgun a Mad Cow in Ancient Japan', 2006, 1, 4, Decimal('2.99'), 90, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'ancient':21 'cow':19 'display':5 'japan':22 'mad':8,12,18 'must':15 'northwest':2 'outgun':16 'scientist':9,13 'unbeliev':4 'vertigo':1"),
 (781, 'Seven Swarm', 'A Unbelieveable Character Study of a Dog And a Mad Cow who must Kill a Monkey in Berlin', 2006, 1, 4, Decimal('4.99'), 127, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'berlin':20 'charact':5 'cow':13 'dog':9 'kill':16 'mad':12 'monkey':18 'must':15 'seven':1 'studi':6 'swarm':2 'unbeliev':4"),
 (725, 'Requiem Tycoon', 'A Unbelieveable Character Study of a Cat And a Database Administrator who must Pursue a Teacher in A Monastery', 2006, 1, 6, Decimal('4.99'), 167, Decimal('25.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'administr':13 'cat':9 'charact':5 'databas':12 'monasteri':21 'must':15 'pursu':16 'requiem':1 'studi':6 'teacher':18 'tycoon':2 'unbeliev':4"),
 (750, 'Run Pacific', 'A Touching Tale of a Cat And a Pastry Chef who must Conquer a Pastry Chef in A MySQL Convention', 2006, 1, 3, Decimal('0.99'), 145, Decimal('25.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'cat':8 'chef':12,18 'conquer':15 'convent':22 'must':14 'mysql':21 'pacif':2 'pastri':11,17 'run':1 'tale':5 'touch':4"),
 (884, 'Terminator Club', 'A Touching Story of a Crocodile And a Girl who must Sink a Man in The Gulf of Mexico', 2006, 1, 5, Decimal('4.99'), 88, Decimal('11.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'club':2 'crocodil':8 'girl':11 'gulf':19 'man':16 'mexico':21 'must':13 'sink':14 'stori':5 'termin':1 'touch':4"),
 (976, 'Wind Phantom', 'A Touching Saga of a Madman And a Forensic Psychologist who must Build a Sumo Wrestler in An Abandoned Mine Shaft', 2006, 1, 6, Decimal('0.99'), 111, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes'], "'abandon':21 'build':15 'forens':11 'madman':8 'mine':22 'must':14 'phantom':2 'psychologist':12 'saga':5 'shaft':23 'sumo':17 'touch':4 'wind':1 'wrestler':18"),
 (213, 'Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention', 2006, 1, 4, Decimal('0.99'), 104, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'compos':8 'convent':20 'date':1 'dentist':16 'discov':14 'moos':11 'must':13 'mysql':19 'saga':5 'speed':2 'touch':4"),
 (394, 'Hamlet Wisdom', 'A Touching Reflection of a Man And a Man who must Sink a Robot in The Outback', 2006, 1, 7, Decimal('2.99'), 146, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'hamlet':1 'man':8,11 'must':13 'outback':19 'reflect':5 'robot':16 'sink':14 'touch':4 'wisdom':2"),
 (426, 'Home Pity', 'A Touching Panorama of a Man And a Secret Agent who must Challenge a Teacher in A MySQL Convention', 2006, 1, 7, Decimal('4.99'), 185, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'agent':12 'challeng':15 'convent':21 'home':1 'man':8 'must':14 'mysql':20 'panorama':5 'piti':2 'secret':11 'teacher':17 'touch':4"),
 (861, 'Suit Walls', 'A Touching Panorama of a Lumberjack And a Frisbee who must Build a Dog in Australia', 2006, 1, 3, Decimal('4.99'), 111, Decimal('12.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'australia':18 'build':14 'dog':16 'frisbe':11 'lumberjack':8 'must':13 'panorama':5 'suit':1 'touch':4 'wall':2"),
 (434, 'Horror Reign', 'A Touching Documentary of a A Shark And a Car who must Build a Husband in Nigeria', 2006, 1, 3, Decimal('0.99'), 139, Decimal('25.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'build':15 'car':12 'documentari':5 'horror':1 'husband':17 'must':14 'nigeria':19 'reign':2 'shark':9 'touch':4"),
 (838, 'Stagecoach Armageddon', 'A Touching Display of a Pioneer And a Butler who must Chase a Car in California', 2006, 1, 5, Decimal('4.99'), 112, Decimal('25.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'armageddon':2 'butler':11 'california':18 'car':16 'chase':14 'display':5 'must':13 'pioneer':8 'stagecoach':1 'touch':4"),
 (319, 'Fish Opus', 'A Touching Display of a Feminist And a Girl who must Confront a Astronaut in Australia', 2006, 1, 4, Decimal('2.99'), 125, Decimal('22.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'astronaut':16 'australia':18 'confront':14 'display':5 'feminist':8 'fish':1 'girl':11 'must':13 'opus':2 'touch':4"),
 (610, 'Music Boondock', 'A Thrilling Tale of a Butler And a Astronaut who must Battle a Explorer in The First Manned Space Station', 2006, 1, 7, Decimal('0.99'), 129, Decimal('17.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Behind the Scenes'], "'astronaut':11 'battl':14 'boondock':2 'butler':8 'explor':16 'first':19 'man':20 'music':1 'must':13 'space':21 'station':22 'tale':5 'thrill':4"),
 (788, 'Ship Wonderland', 'A Thrilling Saga of a Monkey And a Frisbee who must Escape a Explorer in The Outback', 2006, 1, 5, Decimal('2.99'), 104, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'escap':14 'explor':16 'frisbe':11 'monkey':8 'must':13 'outback':19 'saga':5 'ship':1 'thrill':4 'wonderland':2"),
 (890, 'Tights Dawn', 'A Thrilling Epistle of a Boat And a Secret Agent who must Face a Boy in A Baloon', 2006, 1, 5, Decimal('0.99'), 172, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'agent':12 'baloon':20 'boat':8 'boy':17 'dawn':2 'epistl':5 'face':15 'must':14 'secret':11 'thrill':4 'tight':1"),
 (813, 'Smoochy Control', 'A Thrilling Documentary of a Husband And a Feminist who must Face a Mad Scientist in Ancient China', 2006, 1, 7, Decimal('0.99'), 184, Decimal('18.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'ancient':19 'china':20 'control':2 'documentari':5 'face':14 'feminist':11 'husband':8 'mad':16 'must':13 'scientist':17 'smoochi':1 'thrill':4"),
 (329, 'Forrest Sons', 'A Thrilling Documentary of a Forensic Psychologist And a Butler who must Defeat a Explorer in A Jet Boat', 2006, 1, 4, Decimal('2.99'), 63, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'boat':21 'butler':12 'defeat':15 'documentari':5 'explor':17 'forens':8 'forrest':1 'jet':20 'must':14 'psychologist':9 'son':2 'thrill':4"),
 (904, 'Train Bunch', 'A Thrilling Character Study of a Robot And a Squirrel who must Face a Dog in Ancient India', 2006, 1, 3, Decimal('4.99'), 71, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'ancient':19 'bunch':2 'charact':5 'dog':17 'face':15 'india':20 'must':14 'robot':9 'squirrel':12 'studi':6 'thrill':4 'train':1"),
 (245, 'Double Wrath', 'A Thoughtful Yarn of a Womanizer And a Dog who must Challenge a Madman in The Gulf of Mexico', 2006, 1, 4, Decimal('0.99'), 177, Decimal('28.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'challeng':14 'dog':11 'doubl':1 'gulf':19 'madman':16 'mexico':21 'must':13 'thought':4 'woman':8 'wrath':2 'yarn':5"),
 (708, 'Quills Bull', 'A Thoughtful Story of a Pioneer And a Woman who must Reach a Moose in Australia', 2006, 1, 4, Decimal('4.99'), 112, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'australia':18 'bull':2 'moos':16 'must':13 'pioneer':8 'quill':1 'reach':14 'stori':5 'thought':4 'woman':11"),
 (895, 'Tomorrow Hustler', 'A Thoughtful Story of a Moose And a Husband who must Face a Secret Agent in The Sahara Desert', 2006, 1, 3, Decimal('2.99'), 142, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries'], "'agent':17 'desert':21 'face':14 'husband':11 'hustler':2 'moos':8 'must':13 'sahara':20 'secret':16 'stori':5 'thought':4 'tomorrow':1"),
 (408, 'Head Stranger', 'A Thoughtful Saga of a Hunter And a Crocodile who must Confront a Dog in The Gulf of Mexico', 2006, 1, 4, Decimal('4.99'), 69, Decimal('28.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'confront':14 'crocodil':11 'dog':16 'gulf':19 'head':1 'hunter':8 'mexico':21 'must':13 'saga':5 'stranger':2 'thought':4"),
 (118, 'Canyon Stock', 'A Thoughtful Reflection of a Waitress And a Feminist who must Escape a Squirrel in A Manhattan Penthouse', 2006, 1, 7, Decimal('0.99'), 85, Decimal('26.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'canyon':1 'escap':14 'feminist':11 'manhattan':19 'must':13 'penthous':20 'reflect':5 'squirrel':16 'stock':2 'thought':4 'waitress':8"),
 (287, 'Entrapment Satisfaction', 'A Thoughtful Panorama of a Hunter And a Teacher who must Reach a Mad Cow in A U-Boat', 2006, 1, 5, Decimal('0.99'), 176, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'boat':22 'cow':17 'entrap':1 'hunter':8 'mad':16 'must':13 'panorama':5 'reach':14 'satisfact':2 'teacher':11 'thought':4 'u':21 'u-boat':20"),
 (355, 'Ghostbusters Elf', 'A Thoughtful Epistle of a Dog And a Feminist who must Chase a Composer in Berlin', 2006, 1, 7, Decimal('0.99'), 101, Decimal('18.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'berlin':18 'chase':14 'compos':16 'dog':8 'elf':2 'epistl':5 'feminist':11 'ghostbust':1 'must':13 'thought':4"),
 (786, 'Shepherd Midsummer', 'A Thoughtful Drama of a Robot And a Womanizer who must Kill a Lumberjack in A Baloon', 2006, 1, 7, Decimal('0.99'), 113, Decimal('14.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'baloon':19 'drama':5 'kill':14 'lumberjack':16 'midsumm':2 'must':13 'robot':8 'shepherd':1 'thought':4 'woman':11"),
 (24, 'Analyze Hoosiers', 'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert', 2006, 1, 6, Decimal('2.99'), 181, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Behind the Scenes'], "'analyz':1 'chef':12 'desert':21 'display':5 'explor':8 'feminist':17 'hoosier':2 'must':14 'overcom':15 'pastri':11 'sahara':20 'thought':4"),
 (526, 'Lock Rear', 'A Thoughtful Character Study of a Squirrel And a Technical Writer who must Outrace a Student in Ancient Japan', 2006, 1, 7, Decimal('2.99'), 120, Decimal('10.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries'], "'ancient':20 'charact':5 'japan':21 'lock':1 'must':15 'outrac':16 'rear':2 'squirrel':9 'student':18 'studi':6 'technic':12 'thought':4 'writer':13"),
 (288, 'Escape Metropolis', 'A Taut Yarn of a Astronaut And a Technical Writer who must Outgun a Boat in New Orleans', 2006, 1, 7, Decimal('2.99'), 167, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'astronaut':8 'boat':17 'escap':1 'metropoli':2 'must':14 'new':19 'orlean':20 'outgun':15 'taut':4 'technic':11 'writer':12 'yarn':5"),
 (129, 'Cause Date', 'A Taut Tale of a Explorer And a Pastry Chef who must Conquer a Hunter in A MySQL Convention', 2006, 1, 3, Decimal('2.99'), 179, Decimal('16.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'caus':1 'chef':12 'conquer':15 'convent':21 'date':2 'explor':8 'hunter':17 'must':14 'mysql':20 'pastri':11 'tale':5 'taut':4"),
 (162, 'Clueless Bucket', 'A Taut Tale of a Car And a Pioneer who must Conquer a Sumo Wrestler in An Abandoned Fun House', 2006, 1, 4, Decimal('2.99'), 95, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], "'abandon':20 'bucket':2 'car':8 'clueless':1 'conquer':14 'fun':21 'hous':22 'must':13 'pioneer':11 'sumo':16 'tale':5 'taut':4 'wrestler':17"),
 (429, 'Honey Ties', 'A Taut Story of a Waitress And a Crocodile who must Outrace a Lumberjack in A Shark Tank', 2006, 1, 3, Decimal('0.99'), 84, Decimal('29.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes'], "'crocodil':11 'honey':1 'lumberjack':16 'must':13 'outrac':14 'shark':19 'stori':5 'tank':20 'taut':4 'tie':2 'waitress':8"),
 (437, 'House Dynamite', 'A Taut Story of a Pioneer And a Squirrel who must Battle a Student in Soviet Georgia', 2006, 1, 7, Decimal('2.99'), 109, Decimal('13.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'battl':14 'dynamit':2 'georgia':19 'hous':1 'must':13 'pioneer':8 'soviet':18 'squirrel':11 'stori':5 'student':16 'taut':4"),
 (833, 'Splendor Patton', 'A Taut Story of a Dog And a Explorer who must Find a Astronaut in Berlin', 2006, 1, 5, Decimal('0.99'), 134, Decimal('20.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], "'astronaut':16 'berlin':18 'dog':8 'explor':11 'find':14 'must':13 'patton':2 'splendor':1 'stori':5 'taut':4"),
 (779, 'Sense Greek', 'A Taut Saga of a Lumberjack And a Pastry Chef who must Escape a Sumo Wrestler in An Abandoned Fun House', 2006, 1, 4, Decimal('4.99'), 54, Decimal('23.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'abandon':21 'chef':12 'escap':15 'fun':22 'greek':2 'hous':23 'lumberjack':8 'must':14 'pastri':11 'saga':5 'sens':1 'sumo':17 'taut':4 'wrestler':18"),
 (736, 'Robbery Bright', 'A Taut Reflection of a Robot And a Squirrel who must Fight a Boat in Ancient Japan', 2006, 1, 4, Decimal('0.99'), 134, Decimal('21.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'ancient':18 'boat':16 'bright':2 'fight':14 'japan':19 'must':13 'reflect':5 'robberi':1 'robot':8 'squirrel':11 'taut':4"),
 (427, 'Homeward Cider', 'A Taut Reflection of a Astronaut And a Squirrel who must Fight a Squirrel in A Manhattan Penthouse', 2006, 1, 5, Decimal('0.99'), 103, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'astronaut':8 'cider':2 'fight':14 'homeward':1 'manhattan':19 'must':13 'penthous':20 'reflect':5 'squirrel':11,16 'taut':4"),

### 8. Comments

In [26]:
%%sql

-- single line comment

/*  this is
    multiple line comment  */
    
SELECT * FROM film LIMIT 5

 * postgresql://postgres:***@localhost/dvdrental
5 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5"),
 (98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5"),
 (1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")]